<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<div>
    <label>Login</label>
</div>
<div>
    <form action="login" method="post">
        <div>
            <label>username</label><input name="username"/>
        </div>
        <div>
            <label>password</label><input name="password" type="password"/>
        </div>
        <div>
            <button type="submit">submit</button>
        </div>
    </form>
</div>
</body>
</html>